; generator.config
; Copyright 2024/05/14 antillia.com

[generator]
;           PDDC/PDDCA-1.4.1_part1/0522c0001/*img.nrrd
root_dr     = "./PDDCA/*/*"

images_dir  = "./PDDCA/"
image_file  = "img.nrrd"
image_filepattern = "/*img.nrrd"
;mask_dirs    = "./PDDC/*/*/structure/"

resize       = (512, 512)
output_dir   = "./{}-master"

;category = "BrainStem"
;category = "Chiasm"
category = "Mandible"
;category = "OpticNerve_L"
;category = "OpticNerve_R"
;category = "Parotid_L"
;category = "Parotid_R"
;category = "Submandibular_L"
;category = "Submandibular_R"


[validator]
validation=True
; blended = output_dir/images/image.jpg + output_dir/masks/mask.jpg
output_dir   = "./{}-validated"
